html, body {
    background-color: #fefae0;
    margin: 0;
}
/**
    #DFD5A5 - tan
    #96897B - Dark Brown
    #313715 - green
    #AF1B3F - red
    #fefae0 - background
**/

#Title {
    color: black;
    text-align: center;
    font-family: cursive;
    margin: 0%;

}

#Menu {
    background-color: #313715;
    position: relative;
    top: 0;
    width: 100%;
    border: none;
}

.MenuButton:hover {
    background-color: #DFD5A5;
}

button, input {
    background-color: #313715;
    border: none;
}

h2 {
    color:#313715;
}

.navbar {
    background-color: white;
}

.navbar-toggler {
    background-color: white;
}

.nav-item a {
    text-decoration: none;
    color: black;
}

.rtl {
    direction: rtl;
}

.gallery {
    grid-column: full;
    display: grid;
    grid-template-columns: inherit;
    padding-block: var(--space-md);
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    /**scrollbar-width: none;**/
}

.item {
    padding-right: 2%;
    padding-bottom: 2%;
}

.gallery .wrapper {
    grid-column: content;
    display: flex;
    align-items: center;
    gap: var(--space);
}

.gallery .wrapper::after {
    content: "";
    align-self: stretch;
    padding-inline-end: max(var(--space),
            (100vw - var(--content-max-width)) / 2 - var(--space));
}

.gallery.alt-sizes .item.lg {
    max-inline-size: 35rem;
}

.gallery.alt-sizes .item.sm {
    max-inline-size: 15rem;
}

.btn-primary {
    background-color: #343a16;
    border: none;
}